In [1]:
#importing dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

In [2]:
# Import the data into dataFrame
file_path = "Resources/lending_data.csv"
lending_df = pd.read_csv(file_path)
lending_df.head(5)
# lending_df["loan_status"].value_counts()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [3]:
#Total rows
len(lending_df.index)

77536

### Guess for performance.
Since the data features have no categorical data and the number of data-rows is substantially greater than the number of features, the logistic regression is supposed to predict better than the random forest classification.

In [4]:
# defining the class and the features
y = lending_df["loan_status"].values
X = lending_df.drop("loan_status", axis=1)

X

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000
...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600
77532,17700.0,10.662,80900,0.629172,11,2,50900
77533,17600.0,10.595,80300,0.626401,11,2,50300
77534,16300.0,10.068,75300,0.601594,10,2,45300
77535,15600.0,9.742,72300,0.585062,9,2,42300

In [5]:
# Split the data into X_train, X_test, y_train, y_test

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [6]:
#using scalar transform to scale the data features
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [7]:
# Train a Logistic Regression model print the model score
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter = 10000)
model.fit(X_train_scaled, y_train)

#printing the performance score
print(f"Training Data score: {model.score(X_train_scaled, y_train)}")
print(f"Testing Data score: {model.score(X_test_scaled, y_test)}")
# print(f"Training Data score: {model.score(X_train, y_train)}")
# print(f"Testing Data score: {model.score(X_test, y_test)}")

Training Data score: 0.9942908240473243
Testing Data score: 0.9936545604622369

In [ ]:
# Train a Random Forest Classifier model and print the model score
#importing the necessary modules
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

# using scaler transform
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

#fitting the Random forest Classifier model
model_RF = RandomForestClassifier(random_state = 1, n_estimators = 500)
model_RF.fit(X_train_scaled, y_train)

#printing the performance score
print(f"Training Score RF: {model_RF.score(X_train_scaled, y_train)}")
print(f"Training Score RF: {model_RF.score(X_test_scaled, y_test)}")
# print(f"Training Score RF: {model_RF.score(X_train, y_train)}")
# print(f"Training Score RF: {model_RF.score(X_test, y_test)}")